!!!
html
  head
    title TWIITTTER ISSS INNVVAADDDINNNGGG YOUUU!!
    script(src="/javascript/mootools/mootools.js")
    script(src="/javascript/mootools/mooCanvas.js")
    script(src="/javascript/socket-io/socket.io.js")
    script(src="/javascript/app.js")
    link(rel="stylesheet", href="/stylesheets/app.css")
  body!= body